<div class="row">

    <div id="trg" class="col-md-7"></div>

    <div id="tv-game-details" class="col-md-4 col-md-offset-1">

        <div class="panel panel-info ">
            <div class="panel-heading">
                <h4 class="panel-title">Players</h4>
            </div>
            <div class="panel-body">
                <p >
                    <img src="/bower_components/chessboardjs/img/chesspieces/wikipedia/bK.png" class="side-img" alt="Black"/> {{ opponent1 }} <span class="turn" id="turn-b">&nbsp;<i class=""></i></span>
                </p>
                <p>
                    <img src="/bower_components/chessboardjs/img/chesspieces/wikipedia/wK.png" class="side-img" alt="White"/> {{ opponent2 }} <span class="turn" id="turn-w">&nbsp;<i class=""></i></span>
                </p>
            </div>
        </div>

        <div class="panel panel-info ">
            <div class="panel-heading">
                <h4 class="panel-title">Moves</h4>
            </div>
            <div class="panel-body">
                <textarea id="pgn"></textarea>
            </div>
        </div >
        <div class="panel panel-info ">
          <div class="panel-heading">
            <h4 class="panel-title">Key</h4>
          </div>
          <div class="panel-body">
        <span id="whiteSpace">
        <table class="table">
        <th>White</th>
        <th>Pieces Key</th>
        <th>Black</th>
        <tr>
        <td><img class="piece-key-img" alt="wP" src="/bower_components/chessboardjs/img/chesspieces/wikipedia/wP.png"></td>
        <td class="text-center">&#9817; Pawns &#9823;</td>
        <td><img class="piece-key-img" alt="bP" src="/bower_components/chessboardjs/img/chesspieces/wikipedia/bP.png"></td>
        </tr>
        <tr>
        <td><img class="piece-key-img" alt="wN" src="/bower_components/chessboardjs/img/chesspieces/wikipedia/wN.png"></td>
        <td class="text-center">&#9816;Knights&#9822;</td>
        <td><img class="piece-key-img" alt="bN" src="/bower_components/chessboardjs/img/chesspieces/wikipedia/bN.png"></td>
        </tr>
        <tr>
        <td><img class="piece-key-img" alt="wB" src="/bower_components/chessboardjs/img/chesspieces/wikipedia/wB.png"></td>
        <td class="text-center">&#9815;Bishops&#9821;</td>
        <td><img class="piece-key-img" alt="bB" src="/bower_components/chessboardjs/img/chesspieces/wikipedia/bB.png"></td>
        </tr>
        <tr>
        <td><img class="piece-key-img" alt="wR" src="/bower_components/chessboardjs/img/chesspieces/wikipedia/wR.png"></td>
        <td class="text-center"> &#9814; Rooks &#9820;</td>
        <td><img class="piece-key-img" alt="bR" src="/bower_components/chessboardjs/img/chesspieces/wikipedia/bR.png"></td>
        </tr>
        <tr>
        <td><img class="piece-key-img" alt="wQ" src="/bower_components/chessboardjs/img/chesspieces/wikipedia/wQ.png"></td>
        <td class="text-center">&#9813;Queens &#9819;</td>
        <td><img class="piece-key-img" alt="bQ" src="/bower_components/chessboardjs/img/chesspieces/wikipedia/bQ.png"></td>
        </tr>
        <tr>

        <td><img class="piece-key-img" alt="wK" src="/bower_components/chessboardjs/img/chesspieces/wikipedia/wK.png"></td>
        <td class="text-center">&#9812; Kings &#9818;</td>
        <td><img class="piece-key-img" alt="bK" src="/bower_components/chessboardjs/img/chesspieces/wikipedia/bK.png"></td>
        </tr>
        </table>
        </span>
        </div>
      </div>
    </div>

</div>
