<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>pokéChess</title>

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!--   <link rel="stylesheet" href="/bower_components/bootswatch-dist/css/bootstrap.min.css"> -->
  <link rel="styleseet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <!--Google Fonts-->
  <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet' type='text/css'>
  <!-- angular -->
  <script src="/bower_components/angular/angular.js"></script>
  <!-- Bootstrap scripts and jquery script (used by bootstrap) -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!--   <script src="/bower_components/bootswatch-dist/js/bootstrap.min.js"></script> -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <!-- socket io client and angular-socket-io-->
  <script src="/bower_components/socket.io-client/socket.io.js"></script>
  <script src="/bower_components/angular-socket-io/socket.js"></script>
  <!-- controller and service -->
  <script src="/js/controllers.js"></script>
  <!-- <script src="/js/service.js"></script> -->
  
  <!-- angular-chessboard -->
  <link rel="stylesheet" href="/bower_components/chessboard.js/src/css/chessboard.css"/>
  <script src="/bower_components/chessboard.js/dist/js/chessboard.js"></script>
  <script src="/bower_components/angular-chessboard/dist/angular-chessboard.min.js"></script>
  <!-- chessboardjs-0.3.0 -->
  <link rel="stylesheet" type="text/css" href="/chessboardjs-0.3.0/css/chessboard-0.3.0.css">
  <script type="text/javascript" src="/chessboardjs-0.3.0/js/chessboard-0.3.0.js"></script>
  <!-- puzzle.js -->
  <script type="text/javascript" src="/puzzles.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body ng-app="gameApp" ng-controller="mainCtrl">


  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header nav-text">
        <img class="pikachu" alt="logo" src="pikachu.png">
        pokéChess
      </div>
<!--     <div>
        <ul class="nav navbar-nav">
        <li><a href="#">My Pokémon</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div> -->
  </nav>





  <div class="container">

    <h1 class="text-center">Catch 'Em All!</h1>
    <p class=" instructions text-center">Challenge an oponent. The player to solve the most checkmate-in-one-move puzzles in 20 seconds catches a pokémon. Can you catch 'em all?</p>



    <div class="panel panel-success">
      <div class="panel-heading">
        <h2 class="panel-title">Players logged in: {{player}}</h2>
        <h3>{{waitText}}</h3>

        <div ng-if='player==2'>
          <button class='btn btn-warning btn-block' ng-click='startTimer(); start=true'>Begin Timer</button>
          <hr>
          <h1 ng-if='start' class="panel-title text-center">{{question.num1}} * {{question.num2}} = __</h1>
        </div>


      </div>

      <div class="panel-body">
        <!--board-->
        <div class="col-xs-6">
          <div id="board" style="width: 475px"></div>
        </div>

        <div class="col-xs-3">
          <img class="clock-image" alt="clock" src="clock.png">
        </div>

        <!--Table Pieces Key-->
        <div class="col-xs-3">
          <span id="whiteSpace">
            <table class="table">
              <th></th>
              <th>Pieces Key</th>
              <th></th>
              <tr>
                <td><img class="piece-key-img" alt="wP" src="/img/chesspieces/wikipedia/wP.png"></td>
                <td class="text-center">Pawns</td>
                <td><img class="piece-key-img" alt="bP" src="/img/chesspieces/wikipedia/bP.png"></td>
              </tr>
              <tr>
                <td><img class="piece-key-img" alt="wN" src="/img/chesspieces/wikipedia/wN.png"></td>
                <td class="text-center">Knights</td>
                <td><img class="piece-key-img" alt="bN" src="/img/chesspieces/wikipedia/bN.png"></td>
              </tr>
              <tr>
                <td><img class="piece-key-img" alt="wB" src="/img/chesspieces/wikipedia/wB.png"></td>
                <td class="text-center">Bishops</td>
                <td><img class="piece-key-img" alt="bB" src="/img/chesspieces/wikipedia/bB.png"></td>
              </tr>
              <tr>
                <td><img class="piece-key-img" alt="wR" src="/img/chesspieces/wikipedia/wR.png"></td>
                <td class="text-center">Rooks</td>
                <td><img class="piece-key-img" alt="bR" src="/img/chesspieces/wikipedia/bR.png"></td>
              </tr>
              <tr>
                <td><img class="piece-key-img" alt="wQ" src="/img/chesspieces/wikipedia/wQ.png"></td>
                <td class="text-center">Queens</td>
                <td><img class="piece-key-img" alt="bQ" src="/img/chesspieces/wikipedia/bQ.png"></td>
              </tr>
              <tr>

                <td><img class="piece-key-img" alt="wK" src="/img/chesspieces/wikipedia/wK.png"></td>
                <td class="text-center">Kings</td>
                <td><img class="piece-key-img" alt="bK" src="/img/chesspieces/wikipedia/bK.png"></td>
              </tr>
            </table>
          </span>
        </div>

      </div>

      <button class="btn-info" id="checkMove">Submit</button>

    </div>


  </body>
  </html>
