
/*
yellow: #F6DD47 ,
red: #ff3333 ,
blue: #3368B1
gray: #d9d9d9;
*/




body {
	background-color: #3368B1;
	background-image: url("http://i.imgur.com/n0WLCWr.png");
	background-size: cover;
}

.navbar {
	background-color: #ff3333;
	border:none;
}


.nav-text {
	font-size: 20px;
	color: #F6DD47;
}

.pikachu {
	width: 75px;
	margin-right: -12px;
	margin-bottom: -10px;
	margin-top: -10px;
}

h1 {
	font-family: Kalam;
	color: #ff3333;
	font-size: 50px;
	font-weight: bold;
}

.instructions {
	font-family: Kalam;
	color: white;
	font-size: 25px;
}

.panel-heading {
color: ;
}

.btn-info {
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
	font-size: 20px;
	border-radius: 5%;
}

.panel {
	background-color: #F6DD47;
	border: none;
}

.panel-body {
	height: 500px;
	background-color: #F6DD47;
	border: none;
}


.clock-image {
	width: 200px;
	margin-top: 150px;
}

.piece-key-img {
	width: 60px;
}
