/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer,
.content {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    padding-bottom: 19px;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 40px;
    color: #3C763D;;
}
a {
  color: #F6DD47;
}

.content {
    padding-top: 20px;
    padding-bottom: 50px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.trg {
    padding-right: 15px;
    padding-left: 0px;
}

.pod {
    padding-right: 0px;
    padding-left: 15px;
}

.side-img{
    height: 32px;
    width: 32px;
}

.table td, th {
    text-align: center;
}

/*
yellow: #F6DD47 ,
red: #ff3333 ,
blue: #3368B1
*/

body {
	background-color: #3368B1;
	background-image: url("http://i.imgur.com/n0WLCWr.png");
	background-size: cover;
}

.navbar-default {
	background-color: #ff3333;
	border:none;
  color: #F6DD47;
}


.nav-text {
	font-size: 20px;
	color: #F6DD47;
}

.pikachu {
	width: 75px;
	margin-right: -12px;
	margin-bottom: -10px;
	margin-top: -10px;
}

h1 {
	font-family: Kalam;
	color: #ff3333;
	font-size: 50px;
	font-weight: bold;
}

.instructions {
	font-family: Kalam;
	color: white;
	font-size: 25px;
}

.panel-heading {
color: #3C763D;
background-color: #DFF0D8;
}
.panel {
  margin-top: 50px;
  color: #3C763D;
  background-color: #DFF0D8;
}

.btn-info {
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
	font-size: 20px;
	border-radius: 5%;
}

.container {
/*	background-color: #404040;*/
}
/*body {
    overflow-y: auto;
    display: flex;
    align-items: center;
        justify-content: center;
}*/

#gameBoard {
    width: 400px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #ff3333;
    background-color: #F6DD47;
}
#navbarwidth {
    width:100%;
    position:absolute;
    text-align: center;
}
#nav {
    background: crimson;
    background: -moz-linear-gradient(top, crimson, red 1px, #ff3333 25px);
    background: -webkit-gradient(linear, left top, left 25, from(purple), color-stop(24%, crimson), to(yellow));
    position:absolute;
    left:0%;
    top:0%;
    margin: 0px;
    padding: 0;
    border: 1px yellow;
    border-bottom: none;
    width:100%;
}
#nav li a, #nav li {
    text-align: center;
    display: inline-block;
    min-width: 70px;
}
#nav li {
    list-style: none;
}
#nav li a {
    padding: 1em 2em;
    text-decoration: none;
    color: black;
    border-right: 1px solid #3c3c3c;
    border-left: 1px solid #292929;
    border-bottom: 1px solid #232323;
    border-top: 1px solid #545454;
}
#nav li a:hover {
    background: #ff3333;
    background: -moz-linear-gradient(top, #ff3333, #ff0000);
    background: -webkit-gradient(linear, left top, left bottom, from(#11032e), to(#2a0d65));
}
