<link rel="stylesheet" type="text/css" href="../chessboardjs-0.3.0/css/style.css">


<div ng-controller="endgameSimController">


<div id="board" style="width: 300px" display="inline-block"></div>

<div class="sidebar_container" display="inline-block">



<!-- select challenge -->
<!-- 		<select id="forkIndex">
			<option value="{{$index}}" ng-repeat="puzzle in forks" >Fork # {{$index + 1}}</option>
		</select> -->

		<button id="submitMove">Submit Move</button>

		<!-- display:none, change when user submits answer -->
		<div class="wrong hidden">Illegal Move!</div>

		


</div>